[Unit]
Description=iVentoy PXE Server
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/iventoy
ExecStart=/opt/iventoy/iventoy.sh start --proxy-dhcp --no-dhcp
ExecStop=/opt/iventoy/iventoy.sh stop
Restart=on-failure

[Install]
WantedBy=multi-user.target
